html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* .scan-barcode {
  display: block;
  justify-content: center;
} */
.videoInsert {
  display: block;
  margin: auto;
}

.home-page {
  width: 100%;
  background-color: violet;
}
.barcode-result {
  text-align: center;
}
h2 {
  text-align: center;
}
